<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bumblebee Books</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/Logo2.webp">
    <script type="module" src="/public/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
     <style>
        /* Roboto, Roboto Slab, Cinzel, Aleygra Sans SC */
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Cinzel&family=Roboto&family=Roboto+Slab&display=swap');
    </style>
</head>
<header id="top-header">
  
</header>
  <body>
    <h4 class="description">Sign in below</h4>
    <form class="form-widget" on:submit|preventDefault={handleLogin}>
      <div>
        <label for="email">Email</label>
        <input
          id="email"
          class="inputField"
          type="email"
          placeholder="Your email"
          bind:value={email}
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          id="password"
          class="inputField"
          type="password"
          placeholder="Password"
          bind:value={password}
        />
      </div>
      <div>
        <button
          type="submit"
          class="button primary"
          aria-live="polite"
          disabled={loading}>
        <span>Login</span></button>
        <button
          on:click={handleSignup}
          type="button"
          class="button block"
          aria-live="polite"
          disabled={loading}>
        <span>Signup</span>
        </button>
      </div>
    </form>

  </body>
<footer id="footer">
</footer>
</html>
