<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bumblebee Books</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/Logo2.webp">
    <script type="module" src="/public/js/main.js"></script>
    <script type="module" src="/public/js/database.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
     <style>
        /* Roboto, Roboto Slab, Cinzel, Aleygra Sans SC */
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Cinzel&family=Roboto&family=Roboto+Slab&display=swap');
    </style>
</head>
<header id="top-header">

</header>
<body>

  <!-- Login Form -->
  <h2>Login</h2>
  <h3 id="login-message"></h3>
  <div class="form-style">
    <form id="login-form">
      <label for="email">Email:</label>
      <input type="email" id="login-email" autocomplete="username" required><br>

      <label for="password">Password:</label>
      <input type="password" id="login-password" autocomplete="current-password" required><br>

      <button type="submit">Login</button>
    </form>
  </div>

  <div class="sign-button">
    <p>Not a member?</p>
    <button><a id="signup" href="./signup.html">Signup</a></button>
  </div>

</body>
<footer id="footer">
</footer>
</html>