<script type="module" src="/public/js/database.js"></script>

<span id="logo">
  <a href="/" title="Return to home page">
    <img
      src="/public/images/Logo2.webp"
      alt="Company Logo"
      width="150"
      height="200"
    />
  </a>
  <button id="logout-button">Logout</button>
</span>
<nav>
  <ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/views/find_book_view/index.html">Books</a></li>
    <li><a href="/views/account_favorites/index.html">Favorites</a></li>
    <!-- <li><a href="/views/account/index.html">Account</a></li> -->
    <li><a href="/views/account/login.html">Login</a></li>
    <!-- <li><a href="/views/account/signup.html">Signup</a></li> -->
  </ul>
</nav>
