<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bumblebee Books</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/Logo2.webp">
    <script type="module" src="/public/js/main.js"></script>
    <script type="module" src="/public/js/search.mjs"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <style>
        /* Roboto, Roboto Slab, Cinzel, Aleygra Sans SC */
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Cinzel&family=Roboto&family=Roboto+Slab&display=swap');
    </style>
</head>
<header id="top-header">
</header>
  <body>
    <h4>Search by Book Title or Author Name:</h4>
    <div id="searchButtons">
      <button id="book" onclick="toggleBook();">Search by Title</button>
      <button id="author" onclick="toggleAuthor();">Search for Author</button>
    </div>
    <div hidden="hidden" id="searchBook">
      <label for="book_name">Book Title:</label>
      <input type="search" name="book_name" id="book_name" placeholder="Book Title" value="">
      <button id="getBooks">Find Book</button>
    </div>
    <div hidden="hidden" id="searchAuthor">
      <label for="author_name">Author Name:</label>
      <input type="search" name="author_name" id="author_name" placeholder="Author Name" value="">
      <button id="getAuthor">Find Books by Author</button>
    </div>
  </div>
  <main>

  </main>
  </body>
<footer id="footer">
</footer>
</html>

<!-- toggle the hidden view based on the buttons pressed -->
<script>
  let toggleBook = () => {

    let element = document.getElementById("searchBook");
    let hidden = element.getAttribute("hidden");

    if (hidden) {
       element.removeAttribute("hidden");
    } else {
       element.setAttribute("hidden", "hidden");
    }
  }

  let toggleAuthor = () => {

  let element = document.getElementById("searchAuthor");
  let hidden = element.getAttribute("hidden");

  if (hidden) {
    element.removeAttribute("hidden");
  } else {
    element.setAttribute("hidden", "hidden");
  }
}

</script>