<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bumblebee Books</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="public\images\Logo2.webp">
    <script type="module" src="/public/js/main.js"></script>
    <style>
        /* Roboto, Roboto Slab, Cinzel, Aleygra Sans SC */
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Cinzel&family=Roboto&family=Roboto+Slab&display=swap');
    </style>
</head>
<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">Bumblebee Books</a>
  </span>
    <nav> 
      <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/views/find_book_view/index.html">Books</a></li>
        <li><a href="/views/account/index.html">Account</a></li>
        <li><a href="/views//cart/index.html">Cart</a></li>
      </ul>
    </nav>
</header>
  <body>
        <p>Find A Book</p>
  </body>
<footer>
  <p class="copyright">&copy; <span id="currentyear"></span> Bumblebee Books | WDD 330</p>
</footer>
</html>
