<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bumblebee Books</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/Logo2.webp">
    <script type="module" src="/public/js/main.js"></script>
    
    <script type="module" src="/public/js/book-details.mjs"></script>
    <script type="module" src="/public/js/favorites.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <style>
        /* Roboto, Roboto Slab, Cinzel, Aleygra Sans SC */
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Cinzel&family=Roboto&family=Roboto+Slab&display=swap');
    </style>
</head>
<header id="top-header">
</header>
<body>
    <main>

    </main>
</body>
<footer id="footer">
</footer>
</html>